body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(31,30,30);
    background: linear-gradient(180deg, rgba(31,30,30,1) 13%, rgba(73,69,68,1) 71%);
    font-family: helvetica, arial, sans-serif;
}
